<p>
    Dear {user_name},<br/>
    Assignment: {assignment_name} is due on {assignment_due_date}.<br/>
    There are only {days_left} days left. Please submit your assignment on time.<br/>
    <br/>
    Regards,<br/>
    {publisher_name}
</p>